.root {
    background: light-dark(var(--color-white-nylon), var(--color-black-handle));
    display: flex;
    height: var(--size-s64);
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.inner {
    display: flex;
    margin: 0 auto;
    max-width: var(--global-content-max-width);
    position: relative;
    width: 100%;
}